* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family:"League Spartan", sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  width: 375px;
  text-align: center;
  padding: 24px;
}

.header-desktop{
display: flex;
flex-direction: column;
}
.desktop{
  
}
.title{
  margin: 0;
  font-size:40px;
  font-weight: 700;
  color: #512051;
  width: 327px;
  line-height: 32px;
  margin-bottom: 17px;
  margin-top: 82px;
}
.description{
  margin-top: 0;
  display: flex;
  font-size:19px ;
  color: #927B91;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 39px;
 
}

.frame-stars{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 327px;
  height: 78px;
  background-color:#F7F2F7 ;
  border-radius: 8px;
  margin-bottom: 16px;
}
.star{
  display: flex;
  justify-content: center;
  width: 327px;
  margin-bottom:15px ;
}
.description-star{
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color:#512051 ;
}
.header-card{
 margin-top: 43px;
 display: flex;
 justify-content: flex-start

}
.review-card{
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 248px;
  background-color: #512051;
  border-radius: 8px;
  margin-bottom:16px ;
  text-align: left;
  line-height: 22px;  
  padding-left: 32px;
  padding-right: 35px;
}
.photo{ 
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right:23px ;
}
.user-name{
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: white;
  margin-bottom: 4px;
}
.verified{
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  color:#EE69A4;
  margin-bottom: 24px;
}
.review{
  margin: 0;
  font-size:17px ;
  font-weight: 500;
  color: white;
  
}